---
import Layout from '../layouts/Layout.astro'
/* sections */
import Header from '../sections/Header.svelte'
import Main from '../sections/Main.svelte'
import Career from '../sections/Career.svelte'
import Skill from '../sections/Skill.svelte'
import Blog from '../sections/Blog.svelte'
import Contact from '../sections/Contact.svelte'
import Footer from '../sections/Footer.svelte'
---

<Layout title="Wisteria Web">
  <main>
    <Header />
    <Main />
    <Career />
    <Skill />
    <Blog />
    <Contact />
    <Footer />
  </main>
</Layout>
