---
import Layout from '../layouts/Layout.astro'
import Maintenance from '../layouts/Maintenance.astro'
/* sections */
import Main from '../sections/Main.svelte'
import About from '../sections/About.svelte'
import Servise from '../sections/Service.svelte'
import Blog from '../sections/Blog.svelte'
import Contact from '../sections/Contact.svelte'
---

<Layout title="Wisteria Web">
  <main>
    <Main />
    <About client:load />
    <!-- <Servise /> -->
    <Blog />
    <Contact client:load />
  </main>
</Layout>

<!-- <Maintenance title="Wisteria Web" /> -->
