---
import Layout from '../layouts/Layout.astro'
/* sections */
import Header from '../sections/Header.svelte'
import Skill from '../sections/Skill.svelte'
import Footer from '../sections/Footer.svelte'
import ScrollButton from '../components/ScrollButton.svelte'
---

<Layout title="Wisteria Web">
  <main>
    <Header />
    <Skill />
    <Footer />
    <ScrollButton client:load />
  </main>
</Layout>
